html
	head
		title='This is good devops example'
		link(rel='stylesheet',href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
	body
		div.container
			div.jumbotron
				h1 Hello from Node.js !
				p Click the button below to check my blog...
				p
					a.btn.btn-primary(href='http://jacace.wordpress.com') Javier's blog
				p